---
import { Picture } from 'astro:assets'
import LogoLight from '../assets/logo-light.png'

import { socialLinks, clubEmail, footerLinks, sponsorLinks, websiteRepo } from '../data'

import childProcess from 'child_process'

// obtain Git commit hash
const hash = childProcess.execSync('git rev-parse --short HEAD').toString().trim()
---

<footer
  style="display: flex; flex-direction: column; gap: 1rem; align-items: center; padding: 3rem 5rem; width: 100%; background-color: var(--text-dark); font-size:0.8rem; text-align: center;"
  class="font-unbounded"
  transition:persist
>
  <style>
    a:any-link {
      color: var(--text);
    }

    .sponsor:hover {
      opacity: 75%;
    }
    .sponsor {
      opacity: 100%;
      width: 100px;
      transition-duration: 0.1s;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social {
      width: 2rem;
    }

    .social:hover {
      opacity: 75%;
      transition-duration: 0.1s;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  </style>
  <Picture densities={[1.5, 2]} formats={['avif', 'webp']} src={LogoLight} alt="" width={96} />

  <div style="display: flex; gap: 2rem; padding: 1rem;">
    {
      socialLinks.map((link) => (
        <a style={{ alignSelf: 'center', width: 'max-content' }} href={link.href} class="social">
          <Picture densities={[1.5, 2]} formats={['avif', 'webp']} src={link.icon} alt={link.name + ' logo'} />
        </a>
      ))
    }
  </div>
  <div style="display: flex; gap: 0.5rem 1rem; flex-wrap: wrap; justify-content: center;">
    {footerLinks.map((link) => <a href={link.href}>{link.name}</a>)}
  </div>

  <a href={`mailto:${clubEmail}`}>{clubEmail}</a>
  <p style="margin-top: 1.5rem;" class="font-mashine">Supported by</p>
  <div style="display: flex; gap: 1rem; align-items: center; flex-wrap: wrap; justify-content: center;">
    {
      sponsorLinks.map((link) => (
        <a style={{ alignSelf: 'center', width: 'max-content' }} href={link.href} class="sponsor">
          <Picture
            densities={[1.5, 2]}
            formats={['avif', 'webp']}
            width={100}
            src={link.icon}
            alt={link.name + ' logo'}
          />
        </a>
      ))
    }
  </div>
  <p>
    Comet Robotics is a registered 501(c)3 nonprofit (EIN: 93-3183820). The Altium Corporate Logo is a trademark of
    Altium LLC and is used here with permission.
  </p>
  <p>
    Commit hash: <a target="_blank" href={`${websiteRepo}/commit/${hash}`}><code>{hash}</code></a>
  </p>
</footer>
