---
import '../../styles/project.css'
import BaseLayout from '../../layouts/base.astro'
import Join from '../../components/join.astro'
import MarkdownContent from '../../components/markdown-content.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })

  return projectEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }))
}
const { entry } = Astro.props
const { Content } = await render(entry)
---

<BaseLayout title={entry.data.projectTitle}>
  <div class="main-container">
    <div class="content-container">
      <div class="description">
        <h1 class="title">{entry.data.projectTitle}</h1>
        <br />
        <span class="short-description">
          {entry.data.shortDescription}
        </span>
        <div class="stats">
          {
            entry.data.stats.map((stat) => (
              <div>
                <img src={stat.icon} alt={stat.name} class="stat-icon" />
                <h2 class="stat-name">{stat.name}</h2>
                <span class="stat-value">{stat.value}</span>
              </div>
            ))
          }
        </div>
      </div>
      <div class="image-container">
        <img src={entry.data.mainImage.src} alt={entry.data.mainImage.alt} class="main-image" />
      </div>
      <MarkdownContent>
        <Content />
      </MarkdownContent>
    </div>
  </div>
  <Join theme="dark" />
</BaseLayout>
