---
import '../../styles/project.css'
import BaseLayout from '../../layouts/base.astro'
import Join from '../../components/join.astro'

interface Stat {
  name: string
  value: string
  icon: string
}

let projectTitle: string = 'Blender'
let shortDescription: string =
  'Blender is a 120lb full body spinner, featuring a titanium shell with hardened steel impactors.'
let images: string[] = [
  'https://news.utdallas.edu/news/files/2021/03/battlebots-team-1000-2015-07.jpg',
  'https://news.utdallas.edu/news/files/2021/03/blender-action-680-2015-07.jpg',
  'https://dmn-dallas-news-prod.cdn.arcpublishing.com/resizer/v2/3ZNCABYO4ISX72FQN6UQHOW7FQ.jpg?auth=8db4747323e3d062d21d4dc246eee5b38faef779b4bf95c2131a5822d7419b28&width=1660&quality=40',
]
let stats: Stat[] = [
  {
    name: 'Top Driving Speed',
    value: '15mph',
    icon: '/statsGraphics/double-arrow-right.svg',
  },
  {
    name: 'Top Spin Speed',
    value: '120mph',
    icon: '/statsGraphics/rotate-arrow.svg',
  },
  {
    name: 'Shell Weight',
    value: '70lbs',
    icon: '/statsGraphics/weight.svg',
  },
]
---

<BaseLayout>
  <div class="main-container">
    <div class="content-container">
      <div class="description">
        <h1 class="title">{projectTitle}</h1>
        <br />
        <span class="short-description">
          {shortDescription}
        </span>
        <div class="stats">
          {
            stats.map((stat) => (
              <div>
                <img src={stat.icon} alt={stat.name} class="stat-icon" />
                <h2 class="stat-name">{stat.name}</h2>
                <span class="stat-value">{stat.value}</span>
              </div>
            ))
          }
        </div>
      </div>
      <div class="image-container">
        <img
          src="/projects/blender/blender.webp"
          alt="Blender"
          class="main-image"
        />
      </div>
    </div>
    <div class="history-section">
      <h1 class="history-title">History</h1>
      <p class="history-text">
        Blender was created in 2004 by a group of students at Richardson High
        School. In 2007 Blender won BotsIQ. In 2009 Blender won the Battle Bots
        High School Champsionship. In 2011 students from Richardson High School
        brought the Blender Project to UTD, where it competed in 2013, 2015,
        2017 Robogames.
      </p>
      <div class="image-grid">
        {images.map((img) => <img src={img} class="history-image" />)}
      </div>
      <p class="history-text">
        After losing a match against the Brazilian robot Touro, Blender was
        brought back home in April 2017. While the team was trying to figure out
        what went wrong during the match, Blender caught on fire. After this,
        Blender was abandoned and the UT Dallas Battlebots team dissolved after
        all of the members graduated.
      </p>
    </div>
    <div class="card-section">
      <div class="card">
        <h1 class="card-title">3D Viewer</h1>
        <div class="model-viewer">
          <model-viewer
            src="/public/3dModels/testrobot.glb"
            alt="Blender 3D Model"
            auto-rotate
            background-color="#f5f5f5"
            rotation-per-second="60deg"></model-viewer>
        </div>
      </div>
      <div class="card">
        <h1 class="card-title">Credits</h1>
        <p class="card-text">
          Blender was designed to be a full body spinner. The robot featured a
          titanium shell with hardened steel impactors. The robot was powered by
          a 24V battery and was controlled by a custom-built controller. The
          robot was capable of reaching speeds of up to 15mph and had a top spin
          speed of 120mph.
        </p>
      </div>
    </div>
  </div>
  <Join theme='dark'/>
</BaseLayout>
