---
import { SEOMetadata } from 'astro-seo-metadata'
import '@fontsource-variable/unbounded'
import '@fontsource-variable/open-sans'
import '../styles/reset.css'
import '../styles/index.css'
import '../styles/App.css'

import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string
}

const {url} = Astro
let ogImage = (url.origin + '/og' + (url.pathname === '/' ? '/index' : url.pathname)).replace(/\/$/, '') + '.png'

const site = 'Comet Robotics at UT Dallas'
const { title } = Astro.props
---
<!DOCTYPE html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#bf1e2e" />
    <meta name="color-scheme" content="dark">
    <SEOMetadata
      siteName={site}
      title={title ?? site}
      description={'We are a group of robot enthusiasts with the goal of promoting robotics at UT Dallas and in the surrounding area through outreach, projects and workshops.'}
      favicon={'/favicon.svg'}
      author={site}
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={'website'}
      image={ogImage}
      astroGenerator={true}
    />
    <ViewTransitions />
  </head>
  <Navbar transition:persist />
  <main>
    <slot />
    <Footer />
  </main>
</html>
