---
import '../../styles/project.css'
import BaseLayout from '../../layouts/base.astro'
import Join from '../../components/join.astro'
import ImageGrid from '../../components/image-grid.astro'

interface Stat {
  name: string
  value: string
  icon: string
}

const projectTitle: string = 'Fall 2025 Kickoff'
const shortDescription: string =
  'Calling all UT Dallas students: come learn about opportunities for you to get involved in Comet Robotics!'
const headerImage: string = '/events/24FKickoff/audience.JPG'
const images: string[] = [
  '/events/24FKickoff/pre_presentation_leadership_00029.JPG',
  '/events/24FKickoff/pre_presentation_audience_00025.JPG',
  '/events/24FKickoff/biggroup.JPG',
]
const stats: Stat[] = [
  {
    name: 'When',
    value: 'September 5th, 2025',
    icon: '/statsGraphics/date-cal.svg',
  },
  {
    name: 'Where',
    value: 'ECSW 1.315',
    icon: '/statsGraphics/location.svg',
  },
]

const url = 'https://portal.cometrobotics.org/events/157/rsvp/'
---

<BaseLayout title={projectTitle} description={shortDescription}>
  <div class="main-container">
    <div class="content-container">
      <div class="description">
        <h1 class="title">{projectTitle}</h1>
        <br />
        <span class="short-description">
          {shortDescription}
        </span>
        <div class="stats">
          {
            stats.map((stat) => (
              <div>
                <img src={stat.icon} alt={stat.name} class="stat-icon" />
                <h2 class="stat-name">{stat.name}</h2>
                <span class="stat-value">{stat.value}</span>
              </div>
            ))
          }
        </div>
        {
          url && (
            <a
              style={{
                backgroundColor: 'white',
                color: 'var(--primary)',
                padding: '1rem 2rem',
                borderRadius: '999px',
                fontFamily: "'Mashine', sans-serif",
                textDecoration: 'none',
                fontSize: '1.25rem',
              }}
              href={url}
              target="_blank"
            >
              RSVP NOW
            </a>
          )
        }
      </div>
      <div class="image-container">
        <img src={headerImage} alt="Students viewing combat robot" class="main-image" />
      </div>
    </div>
    <div class="history-section">
      <h1 class="history-title">What's Kickoff?</h1>
      <p class="history-text">
        Kickoff marks our official start to the school year, and is the best place to be if you're interested in being a
        part of Comet Robotics. From writing software and building mechanisms for robots, to creating content for
        socials and helping with club logistics, there's a place for you here!
      </p>
      <h2 class="history-title">Why should I come?</h2>
      <p class="history-text">
        During Kickoff, you'll...
        <ul>
          <li>
            learn about the club's projects and how you can get involved
            <li>meet current club members and leadership</li>
            <li>watch some awesome robots in action</li>
          </li>
        </ul>
        <!-- <h2 class="history-title">Wait, Free Stuff?</h2>
        <p class="history-text">
          Of course! You'll be able to get free pizza at Kickoff, and more to be announced at the event :) {
            url &&
              "Register below to let us know you'll be there, and help us make sure we have enough product to give out!"
          }
        </p> -->
        <br />
        {
          url && (
            <a
              style={{
                backgroundColor: 'var(--primary)',
                padding: '1rem 2rem',
                borderRadius: '999px',
                fontFamily: "'Mashine', sans-serif",
                textDecoration: 'none',
                fontSize: '1.25rem',
                color: '#d9d9d9',
              }}
              href={url}
              target="_blank"
            >
              RSVP NOW
            </a>
          )
        }
        <ImageGrid>
          {images.map((img) => <img src={img} class="history-image" />)}
        </ImageGrid>
      </p>
    </div>
    <Join theme="dark" />
  </div>
</BaseLayout>
