---
import '../../styles/project.css'
import BaseLayout from '../../layouts/base.astro'
import Join from '../../components/join.astro'

interface Stat {
  name: string
  value: string
  icon: string
}

let projectTitle: string = 'Fall Kickoff'
let shortDescription: string =
  'Calling all UT Dallas students: come learn about opportunities for you to get involved in Comet Robotics!'
let headerImage: string = '/events/24FKickoff/combatshow.JPG'
let images: string[] = [
  '/events/24FKickoff/vexchat.JPG',
  '/events/24FKickoff/dylfight.JPG',
  '/events/24FKickoff/biggroup.JPG',
]
let stats: Stat[] = [
  {
    name: 'When',
    value: 'August 27th, 2024, 7:30PM',
    icon: '/statsGraphics/date-cal.svg',
  },
  {
    name: 'Where',
    value: 'Sciences Building: SCI 1.220',
    icon: '/statsGraphics/location.svg',
  },
]

const url = "https://portal.cometrobotics.org/events/1/rsvp"
---

<BaseLayout title={projectTitle} description={shortDescription}>
  <div class="main-container">
    <div class="content-container">
      <div class="description">
        <h1 class="title">{projectTitle}</h1>
        <br />
        <span class="short-description">
          {shortDescription}
        </span>
        <div class="stats">
          {
            stats.map((stat) => (
              <div>
                <img src={stat.icon} alt={stat.name} class="stat-icon" />
                <h2 class="stat-name">{stat.name}</h2>
                <span class="stat-value">{stat.value}</span>
              </div>
            ))
          }
        </div>
        {url && <a
          style={{
            backgroundColor: 'white',
            color: 'var(--primary)',
            padding: '0.5rem 1rem',
            borderRadius: '999px',
            fontFamily: '\'Mashine\', sans-serif',
            textDecoration: 'none',
            fontSize: '1.25rem'
          }}
          href={url}
          target="_blank"
        >
          RSVP
        </a>}
      </div>
      <div class="image-container">
        <img
          src={headerImage}
          alt="Students viewing combat robot"
          class="main-image"
        />
      </div>
    </div>
    <div class="history-section">
      <h1 class="history-title">What's Kickoff?</h1>
      <p class="history-text">
        Kickoff marks our official start to the school year, and is the best place to be if you're interested in being a part of Comet Robotics. From writing software and building mechanisms for robots, to creating content for socials and helping with club logistics, there's a place for you here! 
      </p>
      <h2 class="history-title">Why should I come?</h1>
      <p class="history-text">
        During Kickoff, you'll...
        <ul>
          <li>learn about the club's projects and how you can get involved
          <li>meet current club members and leadership</li>
          <li>watch some awesome robots in action</li>
          <li>get free stuff, thanks to our partners at Red Bull! (You must be an active UTD student to receive items.)</li>
        </ul>
      </p>
      <h2 class="history-title">Wait, Free Stuff?</h1>
      <p class="history-text">
        Of course! You'll be able to get free Red Bull at Kickoff, and more to be announced at the event :) {url && "Register below to let us know you'll be there, and help us make sure we have enough product to give out!"}
      </p>
      <br>
      {url && <a
        style={{
          backgroundColor: 'var(--primary)',
          padding: '0.5rem 1rem',
          borderRadius: '999px',
          fontFamily: '\'Mashine\', sans-serif',
          textDecoration: 'none',
          fontSize: '1.25rem',
          color: '#d9d9d9'
        }}
        href={url}
        target="_blank"
      >
        RSVP
      </a>}
      <div class="image-grid">
        {images.map((img) => <img src={img} class="history-image" />)}
      </div>
    </div>
  </div>
  <Join theme="dark" />
</BaseLayout>
